#read {
  height: var(--content-height);
  
  background-color: var(--company-white);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#read.hide {
  display: none;
}

#read h2.title {
  padding: 4px 0;
  color: var(--company-blue);
  text-transform: uppercase;
}

#read button.add_fixed {
  padding: 2px;
  width: auto;
  height: 23px;
  
  background-color: #00aa00;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
  
  display: flex;
  align-items: center;
  gap: 8px;
  
  position: absolute;
  top: 4px;
  right: 1%;
  
  cursor: pointer;
}

#read button.add_fixed span {
  padding-left: 4px;
  color: var(--company-white);

  display: none;
}

#read button.add_fixed:hover span {
  display: block; 
}

#read button.add_fixed img {
  height: 100%;
}

#read .search {
  padding-top: 4px;
  width: 98%;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--company-blue);

  display: flex;
  justify-content: center;
}

#read .search .styled_label {
  padding-bottom: 2px;

  font-weight: 900;
  
  left: 50%;
  transform: translateX(-50%);
}

#read .search * {
  text-align: center;
}

#read table.item_area {
  padding: 4px;
  width: 98%;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--company-blue);
}

#read table.item_area * {
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 3px black;
}